body {
    background-color: #202020;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.gray {
    background-color: #303030;
    width: 100%;
    height: 5px;
}

.top {
    margin-top: 65px;
}

.bottom {
    height: 7px;
}

#control-panel {
    background-color: #303030;
    width: 100%;
    height: 20px;
}

.panel-section {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
}

.button {
    font-family: Tahoma;
    margin-left: 4px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
}

.button:active {
    background-color: #202020 !important
}

.label {
    font-family: sans-serif;
    color: #777;
}

hr {
    margin-bottom: 100px;
    background-color: #202020;
    height: 3px;
    border: 0px;
}

@media (max-width: 990px) {
    #control-panel {
        height: 60px;
    }
    .top {
        margin-top: 25px;
    }
    .panel-section:last-of-type {
        margin-bottom: 10px;
        display: block;
    }
}

@media (max-width: 650px) {
    #control-panel {
        height: 85px;
    }
    .top {
        margin-top: 0;
    }
    .panel-section {
        display: block;
    }
    #square-container {
        margin-top: 6px !important;
    }
}

@media (max-width: 400px) {
    #control-panel {
        height: 65px;
    }
    .panel-section {
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .button {
        margin-left: 0;
        font-size: 10px;
        line-height: 16px;
        vertical-align: text-top;
    }
}